.Rproj.user
.Rhistory
*.RData
.Ruserdata
.DS_Store
_posts/2020-05-23-tidymodel-notes/data.RData
_posts/2020-07-14-deploy-model/penguin-app/.git/
_posts/2020-10-22-introducing-powerof10/data.RData
drafts.Rmd
/.quarto/
*.rda
*.rdb