@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Dosis');

.distill-site-nav {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  background-color: #000000;
  font-size: 25px;
  font-weight: 400;
}

.distill-site-nav a {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color:	#FFFF00;
  font-weight: 700;
  
}

.distill-site-header .title {
    font-size: 25px;
    min-width: 150px;
    font-weight: 700;
}

.posts-list .post-preview .thumbnail img { 
  max-width: 60%;
  max-height: 60%;
  display: block;
  margin: 0 auto;
}


/* https://codepen.io/sdthornton/pen/wBZdXq */
.distill-site-header {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family: 'Dosis', sans-serif;
  color: #fff;
  background-color: #000000;
  font-size: 20px;
  font-weight: 400;
}

.distill-site-footer {
  color: #fff;
  background-color: #000000;
  font-size: 20px;
  font-weight: 400;
}



html, body, p {

  font-family: 'Roboto', 'Libre Baskerville', 'Helvetica Neue'; 
  font-weight: 200;
  line-height: 1.6; 
  font-size: 1.0em;
  color: #333333;
  font-style: normal;
  position: relative;
  
  
}

.posts-list h1 {
   font-family: 'Dosis', sans-serif; !important;
   font-weight: 800;
}


.posts-list .description p {
    font-family: 'Roboto', sans-serif; !important;
}

.posts-list .description h2 {
    font-family: 'Dosis', sans-serif; !important;
}



p a:hover  {
  color: #007bff;
  font-weight: 700;
}


}
.posts-list .post-preview .metadata {

    float: left;
    width: 15%;
    margin-top: 8px;

}

/*SIDE BAR*/

.sidebar-section-custom{
  font-size: 15px;
  text-align: justify;
  line-height: 1.7; 
}



.sidebar-section-custom h2{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 25px;
}

.sidebar-section.subscribe {
  font-size: 15px;
  text-align: justify;
  line-height: 1.7; 
  
}

.sidebar-section.subscribe h3{
  font-family: 'Dosis', sans-serif; 
  font-weight: 700;
  
}

.sidebar-section.categories h3{
  font-family: 'Dosis', sans-serif; 
  font-weight: 700;
}

.section {
  position: relative;
  overflow: hidden;
}

.section-shaped {
  position: relative;
  overflow: hidden;
}

.posts-list .metadata {
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 18px;
}

/* LINK EFFECTS */
/* Borrowed from https://github.com/m-clark/m-clark.github.io/blob/master/styles.css */

p a, li a, d-appendix a, a.footnote-backlink, .sidebar-section-custom a, .sidebar-section.subscribe a {
    color: #007bff;
    display: inline-block;
    text-decoration: none;
    transition: background-size .4s ease;
    border-bottom: 0px solid;
    line-height: 1.2; 
    font-size: 1.0em;
    
}



p a:after, li a:after, d-appendix a:after, 
.sidebar-section-custom a:after, .sidebar-section.subscribe a:after{
    content: '';
    display: block;
    color: #007bff;
    font-size: 1.0em;
    background: #007bff;
    transition: width .3s;
    line-height: 1.2; 
    font-size: 1.0em;
}


p a:hover::after, li a:hover::after, d-appendix a:hover::after, 
.sidebar-section-custom a:hover::after, .sidebar-section.subscribe a:hover::after{
  width: 100%;
  //transition: width .3s;
 }
 


.d-contents nav a:hover {
    text-decoration: none;
    font-size: 14px;
}


/* CODE FORMATTING */

code {
  font-size: 1.2em;
}

/* Highlight code in text but not in code chunk */
p code {
    color: #eee;
    font-size: 1.0em;
    background: #7d828a;
    border-radius: 3px;
    padding: 0 3px;
    margin: 0 4px;
    word-wrap: break-word;
    letter-spacing: normal;
} 
 

/* colour tags */
.dt-tags .dt-tag {
    display: inline-block;
    color: #fff;
    padding: 0.3em 0.4em;
    margin-right: 0.2em;
    margin-bottom: 0.4em;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #000000;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 900;
}

.posts-list .dt-tags .dt-tag {
    color: #fff;
    font-size: 14px;
}


/*
.categories li > a:hover {
    color: #007bff;
    border-bottom: 1px #007bff;;
}
*/


/* thunder animation */
/* from http://jsrocks.org/ */
.fab:hover, .fa:hover {
    animation-name: thunder;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    -webkit-animation-name: thunder;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
     transition: all 150ms ease 0s;
}

@keyframes thunder{
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
}

@-webkit-keyframes thunder{
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
}



img[alt=badge] { 
  width: 85px; 
  height: 20px; 
  float: left;
}

.mylinks a{
  color: #333333;
  
}